td {
  font-size: 15px;
}

td a {
  all: unset;
}
td a:hover{
  all: unset;
}

.botoes {
  width: 180px !important;
}

.btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}